.loginForm {
  max-width: 600px;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #dadada;
  border-radius: 10px;
  background: #edf4ff;
}

.navbar {
  background: #287df0;
  a {
    color: #fff;
  }
}
body,
html {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: Arial;
}
