.loginForm {
  max-width: 600px;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #dadada;
  border-radius: 10px;
  background: #edf4ff;
}

.navbar {
  background: #287df0;
  a {
    color: #fff;
  }
}
body,
html {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: Arial;
}
.border-title {
  text-align: center;
  background: #287df0 !important;
  color: #fff;
}
.border {
  border: 1px solid #dadada;
  background: #fff;
  padding: 5px 10px;
}
.calendar {
  background: #fafafa;
  padding: 20px;
}
.border:hover {
  background: #fafafa;
}

.ant-list-item-action {
  margin-left: 0px !important;
}
